body {
    background-color: red;
}
.test {
    background-color: blue;
    padding: 60px;
    /* border: 3px dotted black; */
    display: grid;
    /* box-sizing: content-box; */
    width: 100%; 
    height: auto;
    /* justify-content: center; */
    /* grid-area: ; */
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto; 

  }
.poke { 
    color: white;
    display: flex;
    /* margin: 5px; */
    /* color: green; */
    border: 2px yellow solid;
    /* padding: 5px; */
    justify-content: center;
}